/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/03/2022, 07:03:52 PM
    Author     : thann
*/
body{
   
}
#ingreso-formulario{
    width: 60%;
    margin-left: 20%;
    background: darkgray;
    border-radius: 3px;
    padding: 10px 5px 10px 5px;
        
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu a {
    display: block;
    padding: 2em;
    background-color: currentColor;
    text-decoration: none;
    color: black;
}